In [1]:

import pandas as pd
data = {'first Name': ['aryan', 'rohan', 'siddhanth', 'yash'],
        'last name': ['singh','agarwal','khanna','bhatia'],
       'type': ['full-time employee','insane','full-time employee','part-time employee'],
       'department': ['administration','technical','management','technical'],
       'YoE': [2,3,6,7],
       'salary':[20000,5000,20000,10000]}
df = pd.DataFrame(data)
print(df)

  first Name last name                type      department  YoE  salary
0      aryan     singh  full-time employee  administration    2   20000
1      rohan   agarwal              insane       technical    3    5000
2  siddhanth    khanna  full-time employee      management    6   20000
3       yash    bhatia  part-time employee       technical    7   10000