In [2]:
import pandas as pd
arr={'day_number':[1,2,3,4,5,6,7,8,9,10],'steps_walked':[6012,7079,6886,7230,4598,5564,6971,7763,8032,9569]}
df=pd.DataFrame(arr)
df

   day_number  steps_walked
0           1          6012
1           2          7079
2           3          6886
3           4          7230
4           5          4598
5           6          5564
6           7          6971
7           8          7763
8           9          8032
9          10          9569

In [3]:
arr['steps_walked']=df['steps_walked']+2000
print(arr['steps_walked'])

0     8012
1     9079
2     8886
3     9230
4     6598
5     7564
6     8971
7     9763
8    10032
9    11569
Name: steps_walked, dtype: int64

In [5]:
matched=df.loc[df['steps_walked']>9000]
print(matched)

   day_number  steps_walked
9          10          9569