In [2]:
import pandas as pd
arr={'day_number':[1,2,3,4,5,6,7,8,9,10,],'steps_walked':[4335,9552,7332,4504,5335,7552,8332,6504,8965,7689]}
df=pd.Dataframe(arr)
df

   day_number  steps_walked
0           1          4335
1           2          9552
2           3          7332
3           4          4504
4           5          5335
5           6          7552
6           7          8332
7           8          6504
8           9          8965
9          10          7689

In [3]:
arr['steps_walked']=df['steps_walked']+2000
print(arr['steps_walked'])

0     6335
1    11552
2     9332
3     6504
4     7335
5     9552
6    10332
7     8504
8    10965
9     9689
Name: steps_walked, dtype: int64

In [7]:
matched=df.loc[df['steps_walked'] > 9000]
print(matched)

   day_number  steps_walked
1           2          9552