In [5]:
import pandas as pd 
import numpy as np
  
# create the series 
ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])
  
# union of the series
union = pd.Series(np.union1d(ser1, ser2))
  
# intersection of the series
intersect = pd.Series(np.intersect1d(ser1, ser2))
  
# uncommon elements in both the series 
notcommonseries = union[~union.isin(intersect)]
  
# displaying the result
print(notcommonseries)

0    1
1    2
2    3
5    6
6    7
7    8
dtype: int64

In [ ]:
import pandas as pd
dict = {'first name':["aryan", "rohan", "riya", "yash" , "siddhant"],
        'last name': ["singh", "agarwal", "shah", "bhatia"],
        'score':[90, 40, 80, 98]}

df = pd.DataFrame(dict)

print(df)