In [1]:
import pandas as pd
names=pd.Series(['Alice','Bob','Charlie','David','Eve'])
ages=pd.Series([25,32,28,49,29])
cities=pd.Series(['NewYork','San Francisco','Los Angeles','Chicago','Miami'])
data={'Name':names,
      'Age':ages,
      'City':cities}
df=pd.DataFrame(data)
print(df)

      Name  Age           City
0    Alice   25        NewYork
1      Bob   32  San Francisco
2  Charlie   28    Los Angeles
3    David   49        Chicago
4      Eve   29          Miami

In [2]:
print(df)

      Name  Age           City
0    Alice   25        NewYork
1      Bob   32  San Francisco
2  Charlie   28    Los Angeles
3    David   49        Chicago
4      Eve   29          Miami

In [8]:
print(df['Name'])
print(df[['Name','Age']])
df['salary']=[60000,80000,70000,90000,75000]
print(df)

0      Alice
1        Bob
2    Charlie
3      David
4        Eve
Name: Name, dtype: object
      Name  Age
0    Alice   25
1      Bob   32
2  Charlie   28
3    David   49
4      Eve   29
      Name  Age           City  salary
0    Alice   25        NewYork   60000
1      Bob   32  San Francisco   80000
2  Charlie   28    Los Angeles   70000
3    David   49        Chicago   90000
4      Eve   29          Miami   75000

In [10]:
Young_people=df[df['Age']<30]
print(Young_people)

      Name  Age         City  salary
0    Alice   25      NewYork   60000
2  Charlie   28  Los Angeles   70000
4      Eve   29        Miami   75000

In [11]:
sorted_df=df.sort_values(by='Age')
print(sorted_df)

      Name  Age           City  salary
0    Alice   25        NewYork   60000
2  Charlie   28    Los Angeles   70000
4      Eve   29          Miami   75000
1      Bob   32  San Francisco   80000
3    David   49        Chicago   90000

In [12]:
import pandas as pd
import numpy as np
Series_A=[10,20,30,40,50]
Series_B=[40,50,60,70,80]
union=pd.Series(np.union1d(Series_A,Series_B))
intersect=pd.Series(np.intersect1d(Series_A,Series_B))
notcommonSeries=union[~union.isin(intersect)]
print(notcommonSeries)

0    10
1    20
2    30
5    60
6    70
7    80
dtype: int32